{% extends 'base.html' %}
{% load static %}
{% block head %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{% static 'peticiones.js' %}" type="text/javascript"></script>
{% endblock %}
{% block conten %}
<section id="popular-courses" class="courses">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Posts</h2>
        <p>Posts</p>
      </div>
      
      <div class="row">
        <input id="buscador" style="width: 25%;"  class="form-control mr-sm-2" type="search" placeholder="Buscar por autor o titulo" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" onclick="Buscar()">Buscar</button>
      </div>
      <br>
      <div class="row">
      <div id="card_post" class="row" data-aos="zoom-in" data-aos-delay="100">


        <!-- End Course Item-->
      </div>
      </div>
    </div>
  </section><!-- End Popular Courses Section -->
 

  <script type="application/javascript">
    // obtenemos el token
    var token = "{{ csrf_token }}"
  
  </script>  
  <!-- Llamamos a nuestro archivo Js  -->
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="{% static '/blogJS/js/posts_all.js' %}" type="text/javascript"></script>
{% endblock %} 

